$primary: rgb(154, 147, 255);
$dark-5: rgb(45, 45, 45);

@import './btn_bootstrap.scss';
@import './link_bootstrap.scss';
@import './deck_editor_page.scss';
@import './card_display_page.scss';

.card-text {
    max-width: 123px;
}

.color-primary {
    color: $primary;
}

.bg-dark-5 {
    background-color: $dark-5;
}
