$primary: rgb(115, 107, 219);

@import './btn_bootstrap.scss';
@import './link_bootstrap.scss';


// [class*='col-'] {
//     display: flex;
// }

// .card-container {
//     width: fit-content;
//     margin: 0px;
// }

.card-text {
    max-width: 123px;
}

.editable-title {
    border-color: transparent;
}

.editable-title:hover {
    border-color: transparent;
}